<div class="inicio-cont">
    <div class="inicio-banner">
        <div class="inicio-text">
            <h1>Bienvenidos! <br>Soy Ezequiel Lopez Saaied</h1>
            <p>Full Stack Developer Jr.</p>
        </div>
    </div>
    <div class="aboutme-cont">
        <h2>Sobre mi</h2>
        <p>Soy de Mar del Plata, Argentina y tengo 26 años.
            Aficionado a las computadoras desde pequeño,
            con el tiempo me llevo a aprenender programacion por diversion y en diferentes lenguajes como Python, Javascript y Ruby.
            Soy alguien creativo que le encanta encontrar nuevos desafios y aprender cosas nuevas.</p>
    </div>
</div>