.inicio-cont {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    background-color: #1C0C5B;
}

.inicio-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/1RqfMMYb/banner-final2.png");
    width: 100%;
    height: 400px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
.inicio-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

.aboutme-cont {
    background-color: #1C0C5B;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}
