.inicio-cont {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    background-color: #1C0C5B;
}

.inicio-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://i.postimg.cc/1RqfMMYb/banner-final2.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
  }
  
.inicio-text {
    text-align: center;
    color: white;
    margin: auto 30px;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

.inicio-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #3D2C8D;
    background-color: white;
}

.aboutme-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 12, 91, 0.6);
}

p {
    margin: 5px;
}

.aboutme-cont {
    text-align: center;
    width: 80%;
    color: white;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
    margin: auto 30px;
}

@media screen and (max-width: 850px){
    .inicio-cont {
        height: calc(100% - 30px);
    }
    .inicio-banner {
        grid-template-columns: auto;
    }
}