<button *ngIf="authSvc.isLoggedIn()" (click)="onToggleCreate()" class="new-input-button">Nueva Experiencia<fa-icon class="del-button plus-sign" [icon]="faSquarePlus"></fa-icon></button>
<app-experiencia-form *ngIf="authSvc.isLoggedIn() && newExpButton"></app-experiencia-form>
<h1 class="title">EXPERIENCIA LABORAL</h1>
<app-experiencia-item *ngFor="let experienciaActual of experiencia" [experiencia] = "experienciaActual" 
(onDeleteExperiencia)="deleteExperiencia($event)"
(onEditExperiencia)="editExperiencia($event)">
</app-experiencia-item>
<ngx-spinner bdColor="rgba(61, 44, 141, 0.9)" color="#916BBF" type="ball-clip-rotate-multiple" [zIndex]="9800">  
</ngx-spinner>