<button *ngIf="authSvc.isLoggedIn()" (click)="onToggleCreate()" class="new-input-button">Nuevo Estudio<fa-icon class="del-button plus-sign" [icon]="faSquarePlus"></fa-icon></button>
<app-estudios-form *ngIf="authSvc.isLoggedIn() && newStudyButton"></app-estudios-form>
<h1 class="title">FORMACION ACADEMICA</h1>
<app-estudios-item *ngFor="let estudioActual of estudios" [estudio] = "estudioActual" 
(onDeleteEstudio)="deleteEstudio($event)" 
(onEditEstudio)="editEstudio($event)">
</app-estudios-item>
<ngx-spinner bdColor="rgba(61, 44, 141, 0.9)" color="#916BBF" type="ball-clip-rotate-multiple" [zIndex]="9800">  
</ngx-spinner>
