<div class="experiencia-cont">
    <div class="experiencia-cont-info">
        <div class="experiencia-cont-logo">
            <img [src]="experiencia.logo" class="experiencia-logo">
        </div>
        <div class="experiencia-item">
            <h2>{{experiencia.cargo}}</h2>
            {{experiencia.empresa}}<br>
            ({{experiencia.a_inicio}} - {{experiencia.a_final}})<br>
            {{experiencia.descripcion}}
            <br>
            <br>
        </div>
    </div>
    <div  class="delete-update-cont du-cont">
        <div *ngIf="authSvc.isLoggedIn()" class="bg-delete-edit">
            <fa-icon class="edit-button" [icon]="faSquarePen" (click)="onToggleEdit()"></fa-icon>
        </div>
        <div *ngIf="authSvc.isLoggedIn()" class="bg-delete-edit">
            <fa-icon class="del-button" [icon]="faSquareXmark" (click)="onDelete(experiencia)"></fa-icon>
        </div>
    </div>
    <div *ngIf="editExperienciaButton">
        <form [formGroup]="form" (ngSubmit)="onEdit(experiencia)" class="form-new">
            <div class="cont-input-new">
                <label for="cargo">
                    Cargo:
                </label>
                <input formControlName = "cargo" type="text" name="cargo" [(ngModel)]="experiencia.cargo" class="input-new">
            </div>
            <div *ngIf="Cargo?.errors && Cargo?.touched" class="error-msg">
                <p *ngIf="Cargo?.hasError('required')">
                    El cargo es requerido.
                </p>
            </div>
            <div class="cont-input-new">
                <label for="empresa">
                    Empresa:
                </label>
                <input formControlName = "empresa" type="text" name="empresa" [(ngModel)]="experiencia.empresa" class="input-new">
            </div>
            <div *ngIf="Empresa?.errors && Empresa?.touched" class="error-msg">
                <p *ngIf="Empresa?.hasError('required')">
                    La empresa es requerida.
                </p>
            </div>
            <div class="cont-input-new">
                <label for="logo">
                    Logo:
                </label>
                <input formControlName = "logo" type="url" name="logo" [(ngModel)]="experiencia.logo" class="input-new">
            </div>
            <div *ngIf="Logo?.errors && Logo?.touched" class="error-msg">
                <p *ngIf="Logo?.hasError('required')">
                    El logo es requerido.
                </p>
            </div>
            <div class="cont-input-new">
                <label for="a_inicio">
                    Año de Inicio:
                </label>
                <input formControlName = "a_inicio" type="number" name="a_inicio" min="1996" max="2022" [(ngModel)]="experiencia.a_inicio" class="input-new">
            </div>
            <div *ngIf="A_inicio?.errors && A_inicio?.touched" class="error-msg">
                <p *ngIf="A_inicio?.hasError('required')">
                    El año de inicio es requerido.
                </p>
                <p *ngIf="A_inicio?.hasError('min') || A_inicio?.hasError('max')">
                    El año de inicio debe ser entre 1996 y 2022.
                </p>
            </div>
            <div class="cont-input-new">
                <label for="a_final">
                    Año de Finalizacion:
                </label>
                <input formControlName = "a_final" type="number" name="a_final" min="1996" max="2022" [(ngModel)]="experiencia.a_final" class="input-new">
            </div>
            <div *ngIf="A_final?.errors && A_final?.touched" class="error-msg">
                <p *ngIf="A_final?.hasError('required')">
                    El año de finalizacion es requerido.
                </p>
                <p *ngIf="A_final?.hasError('min') || A_final?.hasError('max')">
                    El año de finalicacion debe ser entre 1996 y 2022.
                </p>
            </div>
            <div class="cont-input-new">
                <label for="descripcion">
                    Descripcion:
                </label>
                <input formControlName = "descripcion" type="text" name="descripcion" [(ngModel)]="experiencia.descripcion" class="input-new">
            </div>
            <div *ngIf="Descripcion?.errors && Descripcion?.touched" class="error-msg">
                <p *ngIf="Descripcion?.hasError('required')">
                    La descripcion es requerida.
                </p>
            </div>
            <div class="cont-input-new">
                <input type="submit" name="submit" value="Enviar" [disabled]="form.invalid" class="input-new">
            </div>
        </form>
    </div> 
</div>