<div class="experiencia-item">
    {{experiencia.cargo}} <br>
    {{experiencia.empresa}}<br>
    {{experiencia.descripcion}}
    <br>
    <br>
</div>
<div *ngIf="editExperienciaButton" class="form-cont">
    <form [formGroup]="form" (ngSubmit)="onEdit(experiencia)">
        <div>
            <label for="cargo">
                Cargo:
            </label>
            <input formControlName = "cargo" type="text" name="cargo" [(ngModel)]="experiencia.cargo">
        </div>
        <div *ngIf="Cargo?.errors && Cargo?.touched" class="error-msg">
            <p *ngIf="Cargo?.hasError('required')">
                El cargo es requerido.
            </p>
        </div>
        <div>
            <label for="empresa">
                Empresa:
            </label>
            <input formControlName = "empresa" type="text" name="empresa" [(ngModel)]="experiencia.empresa">
        </div>
        <div *ngIf="Empresa?.errors && Empresa?.touched" class="error-msg">
            <p *ngIf="Empresa?.hasError('required')">
                La empresa es requerida.
            </p>
        </div>
        <div>
            <label for="logo">
                Logo:
            </label>
            <input formControlName = "logo" type="url" name="logo" [(ngModel)]="experiencia.logo">
        </div>
        <div *ngIf="Logo?.errors && Logo?.touched" class="error-msg">
            <p *ngIf="Logo?.hasError('required')">
                El logo es requerido.
            </p>
        </div>
        <div>
            <label for="aInicio">
                Año de Inicio:
            </label>
            <input formControlName = "aInicio" type="number" name="aInicio" min="1996" max="2022" [(ngModel)]="experiencia.aInicio">
        </div>
        <div *ngIf="AInicio?.errors && AInicio?.touched" class="error-msg">
            <p *ngIf="AInicio?.hasError('required')">
                El año de inicio es requerido.
            </p>
            <p *ngIf="AInicio?.hasError('min') || AInicio?.hasError('max')">
                El año de inicio debe ser entre 1996 y 2022.
            </p>
        </div>
        <div>
            <label for="aFinal">
                Año de Finalizacion:
            </label>
            <input formControlName = "aFinal" type="number" name="aFinal" min="1996" max="2022" [(ngModel)]="experiencia.aFinal">
        </div>
        <div *ngIf="AFinal?.errors && AFinal?.touched" class="error-msg">
            <p *ngIf="AFinal?.hasError('required')">
                El año de finalizacion es requerido.
            </p>
            <p *ngIf="AFinal?.hasError('min') || AFinal?.hasError('max')">
                El año de finalicacion debe ser entre 1996 y 2022.
            </p>
        </div>
        <div>
            <label for="descripcion">
                Descripcion:
            </label>
            <input formControlName = "descripcion" type="text" name="descripcion" [(ngModel)]="experiencia.descripcion">
        </div>
        <div *ngIf="Descripcion?.errors && Descripcion?.touched" class="error-msg">
            <p *ngIf="Descripcion?.hasError('required')">
                La descripcion es requerida.
            </p>
        </div>
        <div>
            <input type="submit" name="submit" value="Enviar" [disabled]="form.invalid">
        </div>
    </form>
</div>
<div *ngIf="authSvc.isLoggedIn()">
    <fa-icon class="edit-button" [icon]="faSquarePen" (click)="onToggleEdit()"></fa-icon>
    <fa-icon class="del-button" [icon]="faSquareXmark" (click)="onDelete(experiencia)"></fa-icon>
</div>
