.experiencia-cont {
    border: 1px solid #000000;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: #916BBF;
    box-shadow: 2px 2px 5px 2px black;
    width: 80%;
    border: 2px groove #3D2C8D;
    border-radius: 20px;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experiencia-cont-info {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.experiencia-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #3D2C8D;
    background-color: white;
}

@media screen and (max-width: 850px){
    .experiencia-cont {
        width: 96%;
    }

    .experiencia-cont-info {
        grid-template-columns: auto;
    }
}