<div class="form-cont">
    <form [formGroup]="form" (ngSubmit)="onCreate($event)">
        <div>
            <label for="nombre">
                Nombre:
            </label>
            <input formControlName = "nombre" type="text" name="nombre">
        </div>
        <div *ngIf="Nombre?.errors && Nombre?.touched" class="error-msg">
            <p *ngIf="Nombre?.hasError('required')">
                El nombre es requerido.
            </p>
        </div>
        <div>
            <label for="descripcion">
                Descripcion:
            </label>
            <input formControlName = "descripcion" type="text" name="descripcion">
        </div>
        <div *ngIf="Descripcion?.errors && Descripcion?.touched" class="error-msg">
            <p *ngIf="Descripcion?.hasError('required')">
                La descripcion es requerida.
            </p>
        </div>
        <div>
            <label for="a_inicio">
                Año de Inicio:
            </label>
            <input formControlName = "a_inicio" type="number" name="a_inicio" min="1996" max="2022">
        </div>
        <div *ngIf="A_inicio?.errors && A_inicio?.touched" class="error-msg">
            <p *ngIf="A_inicio?.hasError('required')">
                El año de inicio es requerido.
            </p>
            <p *ngIf="A_inicio?.hasError('min') || A_inicio?.hasError('max')">
                El año de inicio debe ser entre 1996 y 2022.
            </p>
        </div>
        <div>
            <label for="a_final">
                Año de Finalizacion:
            </label>
            <input formControlName = "a_final" type="number" name="a_final" min="1996" max="2022">
        </div>
        <div *ngIf="A_final?.errors && A_final?.touched" class="error-msg">
            <p *ngIf="A_final?.hasError('required')">
                El año de finalizacion es requerido.
            </p>
            <p *ngIf="A_final?.hasError('min') || A_final?.hasError('max')">
                El año de finalicacion debe ser entre 1996 y 2022.
            </p>
        </div>
        <div>
            <label for="url">
                Url:
            </label>
            <input formControlName = "url" type="url" name="url">
        </div>
        <div *ngIf="Url?.errors && Url?.touched" class="error-msg">
            <p *ngIf="Url?.hasError('required')">
                La url es requerida.
            </p>
        </div>
        <div>
            <input type="submit" name="submit" value="Enviar" [disabled]="form.invalid">
        </div>
    </form>
</div>
