.form-cont {
    position: absolute;
    height:  calc(100% - 50px);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-auth{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.login-form {
    width: 350px;
    border-radius: 40px;
}