.proyecto-cont {
    border: 1px solid #000000;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: #916BBF;
    box-shadow: 2px 2px 5px 2px black;
    width: 80%;
    border: 2px groove #3D2C8D;
    border-radius: 20px;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyecto-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.du-cont {
    margin-top: 20px;
}

.ver-proy-btn {
    border-radius: 10px;
    width: 300px;
    margin-top: 20px;
}