<button *ngIf="authSvc.isLoggedIn()" (click)="onToggleCreate()" class="new-input-button">Nueva Habilidad<fa-icon class="del-button plus-sign" [icon]="faSquarePlus"></fa-icon></button>
<app-skills-form *ngIf="authSvc.isLoggedIn() && newSkillButton"></app-skills-form>
<h1 class="title">HARD SKILLS</h1>
<div class="skills-cont">
    <app-skills-item *ngFor="let skillActual of filterHardSkills()" [skill] = "skillActual" 
    (onDeleteSkill)="deleteSkill($event)" 
    (onEditSkill)="editSkill($event)">
    </app-skills-item>
</div>
<h1 class="title">SOFT SKILLS</h1> 
<div class="skills-cont">
    <app-skills-item *ngFor="let skillActual of filterSoftSkills()" [skill] = "skillActual" 
    (onDeleteSkill)="deleteSkill($event)" 
    (onEditSkill)="editSkill($event)">
    </app-skills-item>
</div>
<ngx-spinner bdColor="rgba(61, 44, 141, 0.9)" color="#916BBF" type="ball-clip-rotate-multiple">  
</ngx-spinner>
