@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

body {
    background-color: #1C0C5B;
}

.del-button {
    font-size: 25px;
    color: red;
    margin: 5px;
    cursor: pointer;
}

.edit-button {
    font-size: 25px;
    color: purple;
    margin: 5px;
    cursor: pointer;
}

.bg-delete-edit{
    width: 20px;
    height: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.delete-update-cont {
    display: flex;
    flex-direction: row;
}

.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: lightgreen;
}

.error-msg {
    color: white;
    text-shadow: 0 0 3px red, 0 0 5px red;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin: 30px;
    color: white;
    text-shadow: 0 0 5px #000, 0 0 7px #000;
}

.form-new {
    width: 100%;
    background-color: #916BBF;
    padding: 15px;
}

.cont-input-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    color: white;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.input-new {
    width: 250px;
    background-color: #3D2C8D;
    color: white;
    border: 1px solid white;
    border-radius: 9px;;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    text-align: center;
    box-shadow: 0px 0px 3px #000;
}

.input-new:focus {
    background-color: #3D2C8D;
    color: white;
}

.input-new:checked {
    background-color: #3D2C8D;
    color: white;
}

.new-input-button {
    background-color: #3D2C8D;
    width: 100%;
    padding: 5px;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.plus-sign {
    position: relative;
    top: 3px;
    left: 3px;
    color: white;
}