@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

.del-button {
    font-size: 25px;
    color: red;
    margin: 5px;
}

.edit-button {
    font-size: 25px;
    color: purple;
    margin: 5px;
}

.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: lightgreen;
}

.error-msg {
    color: rgb(252, 69, 69);
    font-size: 0.8rem;
}
