<div class="top-menu">
  <div id="arg-prog-cont"><img src="https://i.postimg.cc/W4shQh2c/APLogo.png" id="arg-prog-logo"></div>
  <ul id="menu">
  <li><app-menu-button link="" text="Inicio" (btnClick)="UwU()"></app-menu-button></li>
    <li><app-menu-button link="estudios" text="Estudios" (btnClick)="UwU()"></app-menu-button></li>
    <li><app-menu-button link="skills" text="Skills" (btnClick)="UwU()"></app-menu-button></li>
    <li><app-menu-button link="experiencia" text="Experiencia" (btnClick)="UwU()"></app-menu-button></li>
    <li><app-menu-button link="proyectos" text="Proyectos" (btnClick)="UwU()"></app-menu-button></li>
  </ul>
  <div class="logout-btn-cont"><a href="#" id="logout-btn">Log In</a></div>
</div>